
*.bkp

esp32/Cargo.lock

esp32/target/.rustc_info.json

esp32/target/debug/.cargo-lock

esp32/target/debug/.fingerprint/esp32_embedded-611710be268b0ee5/dep-test-bin-esp32_embedded

esp32/target/debug/.fingerprint/esp32_embedded-611710be268b0ee5/invoked.timestamp

esp32/target/debug/.fingerprint/esp32_embedded-611710be268b0ee5/test-bin-esp32_embedded

esp32/target/debug/.fingerprint/esp32_embedded-611710be268b0ee5/test-bin-esp32_embedded.json

esp32/target/debug/.fingerprint/esp32_embedded-c7be5c301cb57ea5/bin-esp32_embedded

esp32/target/debug/.fingerprint/esp32_embedded-c7be5c301cb57ea5/bin-esp32_embedded.json

esp32/target/debug/.fingerprint/esp32_embedded-c7be5c301cb57ea5/dep-bin-esp32_embedded

esp32/target/debug/.fingerprint/esp32_embedded-c7be5c301cb57ea5/invoked.timestamp

esp32/target/debug/deps/esp32_embedded-611710be268b0ee5.d

esp32/target/debug/deps/esp32_embedded-c7be5c301cb57ea5.d

esp32/target/debug/deps/libesp32_embedded-611710be268b0ee5.rmeta

esp32/target/debug/deps/libesp32_embedded-c7be5c301cb57ea5.rmeta

esp32/target/debug/incremental/esp32_embedded-2pqif8263h58n/s-gtzh5kkzme-ntog3m-7v43zz1p5mqxya01lgp1mhmws/dep-graph.bin

esp32/target/debug/incremental/esp32_embedded-2pqif8263h58n/s-gtzh5kkzme-ntog3m-7v43zz1p5mqxya01lgp1mhmws/query-cache.bin

esp32/target/debug/incremental/esp32_embedded-2pqif8263h58n/s-gtzh5kkzme-ntog3m-7v43zz1p5mqxya01lgp1mhmws/work-products.bin

esp32/target/debug/incremental/esp32_embedded-2pqif8263h58n/s-gtzh5kkzme-ntog3m.lock

esp32/target/debug/incremental/esp32_embedded-2ujl4v9vaammr/s-gtzh5kkzho-1s068ls-dzlb1mzfbe8luidtxcmgyz7du/dep-graph.bin

esp32/target/debug/incremental/esp32_embedded-2ujl4v9vaammr/s-gtzh5kkzho-1s068ls-dzlb1mzfbe8luidtxcmgyz7du/query-cache.bin

esp32/target/debug/incremental/esp32_embedded-2ujl4v9vaammr/s-gtzh5kkzho-1s068ls-dzlb1mzfbe8luidtxcmgyz7du/work-products.bin

esp32/target/debug/incremental/esp32_embedded-2ujl4v9vaammr/s-gtzh5kkzho-1s068ls.lock
